@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');




.wishlistpage {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: black;
    padding: 30px 10px;
    gap: 50px;
}

.wishlistpage > div {
    display: flex;
    width: 1260px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.wishlistproducts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkoutbtnholder {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    right: 70px;
    top: 200px;
    padding: 20px 10px;
    border: 1px solid black;
    background-color: yellow;
}

.checkoutbtnholder > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(44, 255, 44);
    color: black;
    border: 5px solid rgb(0, 111, 0);
    outline: 2px solid black;
    border-radius: 5px;
}

.mywishlist {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    position: fixed;
    top: 100px;
    left: 870px;
}

.totalitems,.totalamount {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
}

.totalamount > span , .totalitems > span {
    font-weight: 900;
    color: rgb(160, 0, 178);
}