@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Jaro:opsz@6..72&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nosifer&family=Noto+Serif+Ahom&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 1px;
    top: -5px;
    z-index: 5;
    padding: 7px 145px;
    gap: 150px;
    background-color: rgb(0, 36, 214);
}
.title > button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 6px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    position: relative;
    left: 40px;
}

.title > button:hover {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}


.sup {
    position: relative;
    bottom: 10px;
    left: 2px;
    color: rgb(170, 0, 122);
}

.flipzon {
    font-size: 30px;
    font-family: "Yuji Mai", serif;
    font-style: normal;
    background: linear-gradient(180deg, #ff8d01, #efdd54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: 50px;
    top: 2.4px;
    cursor: pointer;
}