#root {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#dark {
  background-color: black;
  color: aliceblue;
}

#light {
  background-color: aliceblue;
  color: black;
}